
## All of the settings below are optional
## Uncomment to specify a value

## ----------- workspace to save downloaded files / artifacts -----------
# WORKSPACE_DIR = 'workspace

## --------  Crawl settings  -----------
## how long to wait between requests (in seconds)
# WAITTIME_BETWEEN_REQUESTS = 0.1

## Model end point API Keys - TODO
# NEBIUS_API_KEY = "your api key here"

## ----------- Embedding models -----------
## Any models supported by LiteLLM
## Here we are using Nebius AI models
# EMBEDDING_MODEL = nebius/Qwen/Qwen3-Embedding-8B
# EMBEDDING_LENGTH = 4096


## ----------- Chunking  -----------
# CHUNK_SIZE = 1024
# CHUNK_OVERLAP = 100

## ------- LLMs --------
## Any model supported by LiteLLM
## Here we are using Nebius AI models
# LLM_MODEL = 'nebius/Qwen/Qwen3-30B-A3B-Instruct-2507'
# LLM_MODEL = 'nebius/openai/gpt-oss-120b'

